.website {
    display: grid;
    grid-template-columns: minmax(min-content, 100%);
    margin-bottom: 48px;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .website {
        margin: 32px 16px;
    }

}