.place {
    display: grid;
    grid-template-columns: 460px minmax(min-content, 1fr);
    margin-bottom: 80px;
    column-gap: 40px;
}

.place:last-child {
    margin: 0;
}

@media (max-width: 1279px) {
    .place {
        grid-template-columns:440px minmax(min-content, 1fr);
        column-gap: 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        grid-template-columns: 340px minmax(min-content, 1fr);
        margin-bottom: 73px;
        column-gap: 28px;
    }
}

@media (max-width: 767px) {
    .place {
        grid-template-columns: 320px;
        margin-bottom: 50px;
    }
}
